@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/component-animations';

.progress-list {
  list-style: none;

  .list-group-item{
    border: none;
    border-bottom: 1px solid $grey-2;
    color: $grey-1;
    padding: 20px 0 15px 0;
    margin-bottom: 0;
    h4 {
      font-size: 1em;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    span {
      @include core-14;
      margin-right: 5px;
    }

    &.active, &:hover {
      z-index: 2;
      background: none;
      border-bottom: 3px solid $black !important;
      margin-bottom: -2px;
      color: $grey-1;
      h4 {
        color: $black;
      }
    }
  }
}

.warning-panel {
  margin: 20px 0;
  border-left: 5px solid $orange;
  background-color: lighten($orange, 35%);
  padding: 10px 16px;
  @include core-24;
  font-weight: 900;
}

// panels

.panel-indent {
  @extend .panel;

  &.success {
    border-color: $turquoise;
  }

  &.danger {
    border-color: $red;
  }

  &.warning {
    border-color: $orange;
  }

  &.info {
    border-color: $fuschia;
  }
}

// digit box

.digit-box {
  display: inline-block;
  background: $grey-1;
  color: $white;
  padding: 15px 20px;
  margin: 10px 0;
  @extend .bold-large;
}

// progressive disclosure

.summary.main-summary {
  color: $govuk-blue;
  text-decoration: underline;
  margin-bottom: 4px;

  &:hover { cursor: pointer; }

  .arrow-right { @include arrow(right); }
  .arrow-down  { @include arrow(down); }
}

.summary-content {
  @extend .panel-border-narrow;
}


// blue stripe banner

.stripe {
  background-color: $purple;
  color: $white;
  padding: 15px 0;;

  @include bold-19;

  .stripe-subtext {
    color: $grey-3;
    padding: 0 15px;
  }

  .container .stripe-subtext {
    padding-left: 0;
    padding-right: 0;
  }
}

// search box

.input-group.search-group {
  display: table;
  width: 100%;

  > input {
    @extend .form-control;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    height: 40px;
    vertical-align: top;
    padding-left: 12px;
    padding-right: 12px;
    &:focus {
      padding-left: 11px;
      @include focus-input;
    }
  }

  .input-group-btn {
    width: 40px;
    display: table-cell;
    height: 40px;
    vertical-align: top;

    button.btn.btn-default.btn-search {
      @extend .btn;
      box-sizing: border-box;
      box-shadow: none;
      font-size: 0;
      height: 40px;
      padding: 6px 0 7px;
      background: $secondary-text-colour;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 100%;
      &:hover {
        background: $secondary-text-colour;
      }
      &:after {
        font-family: FontAwesome, sans-serif;
        content: '\f002';
        color: $white;
        font-size: 18px;
      }
      &:focus {
        @include focus-input;
        padding-top: 4px;
      }
    }
  }
}

// notice

.icon-alert {
  @extend .notice;

  .fa {
    // reset font awesome
    display: block;
    @extend .icon;
  }

  .fa-exclamation-circle {
    @extend .icon-important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABZklEQVR4Aa3WsWoTUBTG8V9v4yQElywRAlYzJVCQdMrgmKVDce3m3mfI0ofoY7QQfAOngmQIOGgzOGRpQYhLUynHZjb3JtL7/+8f53DhfmfPZlqGjvR1tTUtLXw3c+2LWzsycG4qNjp1bmArHWM3ouiNsY4CIxOxkxMjGU7NxM7OnG4OmYv/cv5v0KgwSWmiEdAAHWd6NvLeHsJXG+g5881PgLHI+RBrHkLOMcCg9MS/Y82y9PwDEk4cyHIPVrIcOCFpOVZgtS2GY61k6PCZMYeGyRFsW+pekaOkzzOnoZ90K8R0k3aFpdpJs8I0zWRZIWaZLCosteBKlNyPF0/uh5JXyUyRR3+efFRk1nCtyBufrFy4U+CalqnI+Tp+xZof8TLknGoltyayfPQKvPVBlonbhEtzGe4A8kvNXW79/RrxOdZc7PD70cn301704l2przoVm6FCT1VozQodXuuiqH/fVLq2/gLNMwwtCpJpLgAAAABJRU5ErkJggg==');
  }

  .fa-exclamation-circle:before {
    content: "" !important;
  }

  > p {
    margin: 0;
    padding: 0;
    @extend .bold-small;
    padding-left: 65px;
    margin-left: -15px;
  }
}

// notification

.notification {
  @include bold-24;
  box-sizing: border-box;
  padding: 22px;
  display: table;
  width: 100%;
  color: $white;

  @include media(tablet) {
    padding: 30px;
  }

  .notification-body {
    display: table-cell;
    padding-left: 8px;
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }

  &.notification-active     { background: $green; }
  &.notification-deregister { background: $red; }
  &.notification-success    { background: $turquoise; }
  &.notification-pending    { background: $orange; }
  &.notification-invalid    { background: $red; }
}


.tabbedMenu {
  .nav.nav-tabs {
    border-bottom: 1px solid $grey-3;
    padding-left: 0;
    > li {
      list-style: none;
      float: none;
      display: inline-block;
      margin: 0 10px;

      > a {
        padding: 10px 0;
        display: block;
        color: $link-colour;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
        border-bottom: 4px solid transparent;
      }

      &:active > a, &:hover > a {
        color: #0b0c0c;
        cursor: pointer;
        background: transparent;
        border-color: $black;
      }
    }
  }
}

.accordion {
  list-style: none;

  a {
    text-decoration: none;
    outline: none;
    background: transparent;
  }

  > li {
    border-bottom: 1px solid $grey-3;
    margin-bottom: 0;
    padding: 10px 0;
    .panel {
      padding: 0;
      border-left: 0;
      margin-bottom: 0;
    }
  }
  .list-item-detail {
    display: block;
    margin-bottom: -10px;
  }

  h4, .list-item-title {
    @extend .heading-small;
    color: $link-colour;
    font-weight: normal;
    text-decoration: none;
    margin-top: 0 !important;
    line-height: 1em;
  }

  .panel-body {
    padding: 10px 0 5px;
    > li {
      padding: 5px 0 5px 20px;
    }
  }

  .accordion-toggle {
    cursor: context-menu;
  }

  .list-item-detail {
    @include core-14;
    color: #6F777B;
  }
}

.navbar-header {
  text-align: right;
  .box-shadow-menu {
    @include core-14;
    cursor: pointer;
    color: $link-color;
    position: relative;
    padding-right: 1.25em;
  }
  .box-shadow-menu:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0.15em;
    width: 1em;
    height: 0.2em;
    background: $link-colour;
    box-shadow:  0 0.35em 0 0 $link-colour, 0 0.7em 0 0 $link-colour;
  }
}
