<header role="banner" id="global-header" class="with-proposition">

  <div class="header-wrapper">

    <div class="header-global">
      <div class="header-logo">
        <a id="logo" href="#!/" class="content">
          <img width="35" height="31" alt="" src="assets/img/gov.uk_logotype_crown_invert_trans.png"/> GOV.UK
        </a>
      </div>
    </div>

    <div class="header-proposition">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">

        <a meta-id="proposition-name" data-ng-if="globalNav.pageTitle.type === 'href'" href="#">
          {{globalNav.pageTitle.title}}
        </a>
        <a meta-id="proposition-name" data-ng-if="globalNav.pageTitle.type === 'ui-sref'" data-ui-sref="#">
          {{globalNav.pageTitle.title}}
        </a>
        <span meta-id="proposition-name" data-ng-if="globalNav.pageTitle.type === 'text'">
          {{globalNav.pageTitle.title}}
        </span>

        <ul id="proposition-links">
          <li data-ng-repeat="item in globalNav.navItems">
            <a data-ng-if="item.type === 'href'" href="{{item.ref}}">{{item.title}}</a>
            <a data-ng-if="item.type === 'ui-sref'" data-ui-sref="{{item.ref}}">{{item.title}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div id="global-header-bar" ng-if="globalNav.displaySettings.showUnderline"></div>