<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="assets/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
        </a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <a class="menu" data-ng-click="menuLinksHiddenInMobile=false" data-ng-show="menuLinksHiddenInMobile">Menu</a>
        <nav id="proposition-menu">
          <a id="proposition-name" data-ng-if="globalNav.pageTitle.type === 'href'" href="#">{{globalNav.pageTitle.title}}</a>
          <a id="proposition-name" data-ng-if="globalNav.pageTitle.type === 'ui-sref'" data-ui-sref="#">{{globalNav.pageTitle.title}}</a>
          <ul id="proposition-links" data-ng-class="{'proposition-links-hidden':menuLinksHiddenInMobile}">
            <li data-ng-repeat="item in globalNav.navItems">
              <a data-ng-if="item.type === 'href'" href="{{item.ref}}">{{item.title}}</a>
              <a data-ng-if="item.type === 'ui-sref'" data-ui-sref="{{item.ref}}">{{item.title}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
