//
// Progress list
// --------------------------------------------------


// Mixing for apply and also overwrite style when a list item is the selected.
.listActiveMixin{
  z-index: 2;
  background: none;
  border-bottom: 3px solid @black!important;
  color: @grey-1;
  h4{
    color: @black;
  }
}

// Wrapper and base class
.progress-list {
  .list-group-item{
    border: none;
    border-bottom: 1px solid @grey-2;
    color: @grey-1;
    padding: 20px 0 15px 0;
    margin-bottom: 0px;
    h4{
      font-size: 1em;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
    }
    span {
      margin-right:5px;
      font-size: @font-size-xxs;
    }
  }
  .active{
    .listActiveMixin;
    &:hover{
      .listActiveMixin;
    }
  }
  .list-group-item:last-of-type {
    border: none;
  }
}
