<section id="search">
  <h1>Search</h1>
  <p>To add a search bar with a search button, include a class of <code>search-group</code> along with the <code>input-group</code> class. Add an <code>input-group-btn</code> class to a <code>span</code> containing the search button and finally add a <code>btn-search</code> class for the correct styling of the search button.</p>
  <div class="bs-example" data-example-id="lists">
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group search-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default btn-search" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div data-syntax-highlighter data-source='
    <div class="input-group search-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default btn-search" type="button">Search</button>
      </span>
    </div>'></div>
</section>