<section id="stripe">
  <h1>Stripe</h1>
  <p>Use a stripe element to place content between the navbar and the page heading</p>
  <div class="bs-example" data-example-id="stripe">
    <header data-global-nav></header>
    <div class="container">
      <a href="#" class="btn  btn-plain">< Back</a>
    </div>
    <div class="stripe">
      <div class="container"><span class="stripe-subtext">1234567</span>&nbsp;&nbsp;John Brown</div>
    </div>
    <div class="container">
      <div class="vertical-spacer"></div>
      <h1>Page Heading</h1>
    </div>
  </div>
  <div data-syntax-highlighter data-source='
    <header data-global-nav></header>
    <div class="container">
      <a href="#" class="btn  btn-plain">< Back</a>
    </div>
    <div class="stripe">
      <div class="container"><span class="stripe-subtext">1234567</span>&amp;nbsp;&amp;nbsp;John Brown</div>
    </div>
    <div class="container">
      <div class="vertical-spacer"></div>
      <h1>Page Heading</h1>
    </div>'></div>
</section>