<h1>Alpha-Beta Banners</h1>
<section id="alpha-banner">
  <h3>Alpha banner</h3>
  <p>Add <code>.phase-banner and .alpha-banner</code></p>
  <div class="bs-example" data-example-id="alpha-banner">
    <div class="phase-banner">
      <p>
        <strong class="alpha-banner">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
  </div>
  <div data-syntax-highlighter data-source='
    <div class="phase-banner">
      <p>
        <strong class="alpha-banner">ALPHA</strong>
        <span>This is the alpha banner state.</span>
      </p>
    </div>'></div>
</section>

<section id="beta-banner">
  <h3>Beta banner</h3>
  <p>Add <code>.phase-banner and .beta-banner</code></p>
  <div class="bs-example" data-example-id="beta-banner">
    <div class="phase-banner">
      <p>
        <strong class="beta-banner">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
  </div>
  <div data-syntax-highlighter data-source='
    <div class="phase-banner">
      <p>
        <strong class="beta-banner">BETA</strong>
        <span>This is the beta banner state.</span>
      </p>
    </div>
  '></div>
</section>