 <!-- =============================================
  Typography
================================================== -->
<section id="typography">

  <h1>Typography</h1>

  <section id="font">
    <h3>Font</h3>
    <p>The fonts used for all GDS websites are NTA Light and NTA Bold</p>
  </section>

  <section id="headings">
    <h3>Headings</h3>
    <ul>
      <li>use GDS Transport Website Bold</li>
      <li>use sentence case for headings</li>
      <li>use headings consistently to create a clear hierarchy</li>
    </ul>
    <div class="bs-example" data-example-id="simple-headings">
      <span class="h1">A h1 heading</span>
      <h2>A h2 heading</h2>
      <h3>A h3 heading</h3>
      <h4>A h4 heading</h4>
      <h5>A h5 heading</h5>
      <h6>A h6 heading</h6>
    </div>
    <div data-syntax-highlighter data-source='
      <h1>A h1 heading</h1>
      <h2>A h2 heading</h2>
      <h3>A h3 heading</h3>
      <h4>A h4 heading</h4>
      <h5>A h5 heading</h5>
      <h6>A h6 heading</h6>'></div>
  </section>

  <section id="lead-paragraph">
    <h3>Lead Paragraph</h3>
    <ul>
      <li>use the <code>lead</code> class for a lead paragraph, this will calculate the size to be equivalent
        to 24px in em
      </li>
      <li>there should only be one lead paragraph per page</li>
    </ul>
    <div class="bs-example" data-example-id="headings">
      <p class="lead">This is a lead paragraph</p>
      <p>This is a regular paragraph</p>
    </div>
    <div data-syntax-highlighter data-source='
      <p class="lead">This is a lead paragraph</p>
      <p>This is a regular paragraph</p>'></div>
  </section>

  <section id="body-copy">
    <h3>Body copy</h3>
    <ul>
      <li>use GDS transport light</li>
      <li>avoid bold and italics</li>
      <li>use smaller sizes only if there's a user need (eg 16px, 14px, 12px)</li>
      <li>make sure lines of text don't exceed 75 characters, as they become harder to read beyond that
        point
      </li>
    </ul>
    <div class="bs-example" data-example-id="body-copy">
      <p>This is a regular paragraph that will have a font size that is equivalent to 19px in em</p>

      <p class="small">This is a small paragraph</p>

      <p class="x-small">This is an extra small paragraph</p>

      <p class="xx-small">This is an extra extra small paragraph</p>
    </div>
    <div data-syntax-highlighter data-source='
      <p>This is a regular paragraph that will have a font size that is equivalent to 19px in em</p>

      <p class="small">This is a small paragraph</p>

      <p class="x-small">This is an extra small paragraph</p>

      <p class="xx-small">This is an extra extra small paragraph</p></div>'></div>
  </section>

  <section id="links">
    <h3>Links</h3>
    <ul>
      <li>links within body copy should be blue and underlined</li>
      <li>links without surrounding text should not have a full stop at the end</li>
      <li>link colours can be found in the <a href="#">colour palette</a></li>
    </ul>
    <div class="bs-example" data-example-id="links">
      <p>here <a href="#">we have a link</a> and some surrounding text</p>

      <p>this is an <a href="#" rel="external">external</a> link</p>
      <a href="#" class="link-back">Back</a>
    </div>
    <div data-syntax-highlighter data-source='
      <p>here <a href="#">we have a link</a> and some surrounding text</p>

      <p>this is an <a href="#" rel="external">external</a> link</p>

      <a href="#" class="link-back">Back</a>'></div>
  </section>

  <section id="lists">
    <h3>Lists</h3>
    <p>List items start with a lowercase letter and have no full stop at the end.</p>
    <p>Use the <code>list-unstyled</code> class for a not bulleted list.</p>
    <p>Use one from list-space collection class for adding extra padding to list elements.</p>
    <div class="bs-example" data-example-id="lists">
      <ul>
        <li>here is a bulleted list</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
        <li>integer posuere erat a ante venenatis dapibus</li>
      </ul>
      <ol>
        <li>here is a numbered list</li>
        <li>integer posuere erat a ante venenatis dapibus</li>
        <li>sagittis lacus vel augue laoreet</li>
      </ol>
      <ul class="list-unstyled">
        <li>here is a non-bulleted list</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
        <li>integer posuere erat a ante venenatis dapibus</li>
      </ul>
      <ul class="list-spaced-large">
        <li>here is a non-bulleted and spaced list with 10px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
      <ul class="list-spaced">
        <li>here is a non-bulleted and spaced list with 6px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
      <ul class="list-spaced-small">
        <li>here is a non-bulleted and spaced list with 5px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
      <ul class="list-spaced-xs">
        <li>here is a non-bulleted and spaced list with 1px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
    </div>
    <div data-syntax-highlighter data-source='
      <ul>
        <li>here is a bulleted list</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
        <li>integer posuere erat a ante venenatis dapibus</li>
      </ul>
      <ol>
        <li>here is a numbered list</li>
        <li>integer posuere erat a ante venenatis dapibus</li>
        <li>sagittis lacus vel augue laoreet</li>
      </ol>
      <ul class="list-unstyled">
        <li>here is a non-bulleted list</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
        <li>integer posuere erat a ante venenatis dapibus</li>
      </ul>
      <ul class="list-spaced-large">
        <li>here is a non-bulleted and spaced list with 10px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
      <ul class="list-spaced">
        <li>here is a non-bulleted and spaced list with 6px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
      <ul class="list-spaced-small">
        <li>here is a non-bulleted and spaced list with 5px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>
      <ul class="list-spaced-xs">
        <li>here is a non-bulleted and spaced list with 1px padding</li>
        <li>vivamus sagittis lacus vel augue laoreet rutrum</li>
      </ul>'></div>
  </section>

  <section id="alerts">
    <h3>Alerts</h3>
    <p>Use to alert users on actions or pending actions to perform.</p>
    <div class="bs-example" data-example-id="inset-text">
      <div class="warning-panel" role="alert">This is a warning</div>
    </div>
    <div data-syntax-highlighter data-source='
      <div class="warning-panel" role="alert">This is a warning</div>'></div>
  </section>

  <section id="inset-text">
    <h3>Inset text</h3>
    <p>Use bordered inset text to draw attention to important content on the page.</p>
    <div class="bs-example" data-example-id="inset-text">
      <div class="panel-indent">
        <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the
          application.</p>
      </div>
    </div>
    <div data-syntax-highlighter data-source='
      <div class="panel-indent">
        <p>It can take up to 8 weeks to register a lasting power of attorney if
          there are no mistakes in the application.</p>
      </div>'></div>
  </section>

  <section id="inset-text-success">
    <h3>Success inset text</h3>
    <p>Use bordered inset text to draw attention to important content on the page.</p>
    <div class="bs-example" data-example-id="inset-text-success">
      <div class="panel-indent success">
      <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the
        application.</p>
      </div>
    </div>
    <div data-syntax-highlighter data-source='
      <div class="panel-indent success">
        <p>It can take up to 8 weeks to register a lasting power of attorney if
          there are no mistakes in the application.</p>
      </div>'></div>
  </section>

  <section id="inset-text-info">
    <h3>Info inset text</h3>
    <p>Use bordered inset text to draw attention to important content on the page.</p>
    <div class="bs-example" data-example-id="inset-text-info">
    <div class="panel-indent info">
      <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the
        application.</p>
      </div>
    </div>
    <div data-syntax-highlighter data-source='
      <div class="panel-indent info">
        <p>It can take up to 8 weeks to register a lasting power of attorney if
          there are no mistakes in the application.</p>
      </div>'></div>
  </section>

  <section id="inset-text-warning">
    <h3>Warning inset text</h3>
    <p>Use bordered inset text to draw attention to important content on the page.</p>
    <div class="bs-example" data-example-id="inset-text-warning">
      <div class="panel-indent warning">
        <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the
          application.</p>
      </div>
    </div>
    <div data-syntax-highlighter data-source='
      <div class="panel-indent warning">
        <p>It can take up to 8 weeks to register a lasting power of attorney if
          there are no mistakes in the application.</p>
      </div>'></div>
  </section>

  <section id="inset-text-danger">
    <h3>Danger inset text</h3>

    <p>Use bordered inset text to draw attention to important content on the page.</p>

    <div class="bs-example" data-example-id="inset-text-danger">
      <div class="panel-indent danger">
        <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the
          application.</p>
      </div>
    </div>
    <div data-syntax-highlighter data-source='
      <div class="panel-indent danger">
        <p>It can take up to 8 weeks to register a lasting power of attorney if
          there are no mistakes in the application.</p>
      </div>'></div>
  </section>

  <section id="hidden-text">
    <h3>Hidden text (progressive disclosure)</h3>
    <p>Use this to make your page easier to scan, only showing contextual information when required.</p>
    <p>Click on "Help with nationality" to see how this works.</p>
    <div class="bs-example" data-example-id="hidden-text">
      <div>
        <p class="main-summary summary" data-ng-click="isOpen = !isOpen">
          <span data-ng-class="{'arrow-right': !isOpen, 'arrow-down': isOpen}"></span>
          Help with nationality
        </p>
        <div class="panel-indent summary-content" data-ng-show="isOpen">
          <p>If you’re not sure about your nationality, try to find out from an official document like a
            passport or national ID card.</p>

          <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If
            you can’t provide your nationality, you’ll have to send copies of identity documents through the
            post.</p>
        </div>
      </div>
    </div>
    <div data-syntax-highlighter data-source='
      <div>
        <p class="main-summary summary" data-ng-click="isOpen = !isOpen">
          <span data-ng-class="{&apos;arrow-right&apos;: !isOpen, &apos;arrow-down&apos;: isOpen}"></span>
          Help with nationality
        </p>
        <div class="panel-indent summary-content" data-ng-show="isOpen">
          <p>If you’re not sure about your nationality, try to find out from an official document like a
            passport or national ID card.</p>

          <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If
            you can’t provide your nationality, you’ll have to send copies of identity documents through the
            post.</p>
        </div>
      </div>'></div>
  </section>

  <section id="digit-box">
    <h3>Digit box container</h3>
    <p>Use this to display a grey box to reflect digit numbers.</p>
    <div class="bs-example" data-example-id="digit-box">
      <span class="digit-box">1234</span>
    </div>
    <div data-syntax-highlighter data-source='
    <span class="digit-box">
      1234
    </span>'></div>
  </section>
</section>
