<h1>Errors and Validation</h1>
<section id="error-message-and-summary-box">
  <h2>Minimise the number of errors on a page.</h2>
  <h3>Ask one question per page</h3>
  <div class="text">
    <p>Recovering from errors can be hard for users, especially if a page contains multiple errors.</p>
    <p>Simplify forms by rewriting and where possible, splitting long forms across multiple pages -
      with each page asking a single question.</p>
  </div>
  <h3>Summarise errors at the top of the page</h3>
  <h4>You must:</h4>
  <ul class="text list-bullet">
    <li>show an error summary at the top of the page</li>
    <li>include a heading to alert the user to the error</li>
    <li>link to each of the problematic questions</li>
  </ul>
  <h4 class="heading-small">Error message and summary box</h4>
  <div class="bs-example example-error">
    <form name="formName" novalidate>
      <div class="cpp-form-error-summary" role="group"
           aria-labelledby="error-summary-heading-example-1">
        <h3 id="error-summary-heading-example-1">Message to alert the user to a problem goes here</h3>
        <p>Optional description of the error(s) and how to correct them</p>
        <ul class="cpp-form-error-summary-list" data-ng-controller="ScrollToAnchorController as sta">
          <li><a data-ng-click="sta.scrollTo('example-personal-details-1')">Descriptive link to the question with
            an error</a></li>
        </ul>
      </div>
      <h2>Check your personal details</h2>
      <p>Look at your name, signature and other details.</p>
      <div class="form-group" data-ng-class="{'cpp-form-error': true}">
        <fieldset>
          <legend id="example-personal-details-1">
            Are your personal details correct and up-to-date?
            <span class="cpp-form-error-message h6">Error message about personal details goes here</span>
          </legend>
          <label class="radio block-background" for="personal_details_yes-1"
            data-ng-class="{selected: isChecked == 'Yes'}">
            <input id="personal_details_yes-1" type="radio" name="inputName" data-ng-model="isChecked"
              value="Yes" required/>
            <span></span> Yes, my personal details are correct
          </label>
          <label class="radio block-background" for="personal_details_no-1"
            data-ng-class="{selected: isChecked == 'No'}">
            <input id="personal_details_no-1" type="radio" name="inputName" data-ng-model="isChecked"
              value="No" required/>
            <span></span> No, some details are wrong or have changed
          </label>
        </fieldset>
      </div>
      <input class="btn btn-default" type="submit" value="Continue">
    </form>
  </div>
  <div data-syntax-highlighter data-source='
    <form name="formName" data-ng-submit="submitForm()" novalidate data-ng-controller="formSubmit">
      <div class="cpp-form-error-summary" role="group"
        aria-labelledby="error-summary-heading-example-1" data-ng-show="!formName.$valid">
        <h3 id="error-summary-heading-example-01">Message to alert the user to a problem goes here</h3>
        <p>Optional description of the error(s) and how to correct them</p>
        <ul class="cpp-form-error-summary-list">
          <li data-ng-if="formName.inputName.$error.required"><a
            data-ng-click="sta.scrollTo(&apos;example-personal-details&apos;)">Descriptive link to the question with an
            error</a></li>
        </ul>
      </div>
      <h2>Check your personal details</h2>
      <p>Look at your name, signature and other details.</p>
      <div class="form-group" data-ng-class="{&apos;cpp-form-error&apos;: !formName.$valid}">
        <fieldset>
          <legend id="example-personal-details">
            <span class="form-label-bold">
              Are your personal details correct and up-to-date?
            </span>
            <span class="form-label-bold cpp-form-error-message" data-ng-if="formName.inputName.$error.required">
              Error message about personal details goes here
            </span>
          </legend>
          <label class="radio block-background" for="personal_details_yes"
            data-ng-class="{selected: isChecked == &apos;Yes&apos;}">
            <input id="personal_details_yes" type="radio" name="inputName" data-ng-model="isChecked"
              value="Yes" required/>
            <span></span> Yes, my personal details are correct
          </label>
          <label class="radio block-background" for="personal_details_no"
              data-ng-class="{selected: isChecked == &apos;No&apos;}">
            <input id="personal_details_no" type="radio" name="inputName" data-ng-model="isChecked"
              value="No" required/>
            <span></span> No, some details are wrong or have changed
          </label>
        </fieldset>
      </div>
      <input class="btn btn-default" type="submit" value="Continue">
    </form>
  '></div>
</section>

<section id="highlight-errors-in-forms">
  <h4 class="panel-indent text">
    The error summary must appear at the top of the page, so it is visible when the page is refreshed
    and is immediately read out by assistive technology.
  </h4>
  <h3 class="heading-medium" id="highlight-errors">Highlight errors in forms</h3>
  <p class="lead-in">For each error:</p>
  <ul class="list-bullet text">
    <li>write a message that helps the user to understand why the error occurred and what to do about
      it
    </li>
    <li>put the message in the <code class="code">&lt;label&gt;</code> or <code class="code">&lt;legend&gt;</code>
      for the question,
      after the question text, in red
    </li>
    <li>use a red border to visually connect the message and the question it belongs to</li>
    <li>if the error relates to specific text fields within the question, give these a red border as
      well
    </li>
  </ul>
  <p class="text">
    For red, use the <code class="code">$error-colour</code> Sass variable &ndash; find this in the
    GOV.UK frontend toolkit <a
    href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_colours.scss"
    rel="external">colours.scss</a> file.
  </p>
  <div class="bs-example example-error">
    <form name="anotherForm" data-ng-submit="submitForm()" novalidate data-ng-controller="formSubmit">
      <div class="cpp-form-error-summary" role="group"
        aria-labelledby="error-summary-heading-example-02"
        data-ng-show="!anotherForm.$valid && submitted">
        <h3 id="error-summary-heading-example-02">Message to alert the user to a problem goes here</h3>
        <p>Optional description of the error(s) and how to correct them</p>
        <ul class="cpp-form-error-summary-list" data-ng-controller="ScrollToAnchorController as sta">
          <li data-ng-if="anotherForm.fullName.$error.required"><a
            data-ng-click="sta.scrollTo('example-full-name-1')">Descriptive link to the question with an
            error</a></li>
          <li data-ng-if="anotherForm.niNo.$error.required"><a data-ng-click="sta.scrollTo('example-ni-number-1')">Descriptive
            link to the question with an error</a></li>
        </ul>
      </div>
      <h2>Your personal details</h2>
      <div class="form-group"
        data-ng-class="{'cpp-form-error': anotherForm.fullName.$error.required && submitted}">
        <label for="example-full-name-1" id="example-full-name-label">
          <span class="form-label-bold">Full name</span>
          <span class="form-hint-text">As shown on your birth certificate or passport</span>
        </label>
        <div data-ng-if="anotherForm.fullName.$error.required && submitted">
          <h6 class="cpp-form-error-message">
            Error message about full name goes here
          </h6>
        </div>
        <input class="form-control" id="example-full-name-1" type="text" name="fullName"
          data-ng-model="user.fullName" aria-describedby="example-full-name-label" required/>
      </div>
      <div class="form-group"
        data-ng-class="{'cpp-form-error': anotherForm.niNo.$error.required && submitted}">
        <label for="example-ni-number-1" id="example-ni-number-label-1">
          <span class="form-label-bold">National Insurance number</span>
            <span class="form-hint-text">
              It's on your National Insurance card, benefit letter, payslip or P60.
              <br>
              For example, 'VO 12 34 56 D'.
            </span>
        </label>
        <div data-ng-if="anotherForm.niNo.$error.required && submitted">
          <h6 class="cpp-form-error-message">
            Error message about National Insurance number goes here
          </h6>
        </div>
        <input class="form-control" id="example-ni-number-1" type="text" name="niNo"
          data-ng-model="user.niNo" aria-describedby="example-ni-number-label-1" required/>
      </div>
      <input class="btn btn-default" type="submit" value="Continue">
    </form>
  </div>
  <div data-syntax-highlighter data-source='
    <form name="anotherForm" data-ng-submit="submitForm()" novalidate data-ng-controller="formSubmit">
      <div class="cpp-form-error-summary" role="group"
        aria-labelledby="error-summary-heading-example-2"
        data-ng-show="!anotherForm.$valid && submitted">
        <h3 id="error-summary-heading-example-2">Message to alert the user to a problem goes here</h3>
        <p>Optional description of the error(s) and how to correct them</p>
        <ul class="cpp-form-error-summary-list" data-ng-controller="ScrollToAnchorController as sta">
          <li data-ng-if="anotherForm.fullName.$error.required"><a
            data-ng-click="sta.scrollTo(&apos;example-full-name&apos;)">Descriptive link to the question with an
            error</a></li>
          <li data-ng-if="anotherForm.niNo.$error.required"><a data-ng-click="sta.scrollTo(&apos;example-ni-number&apos;)">Descriptive
            link to the question with an error</a></li>
        </ul>
      </div>

      <h2>Your personal details</h2>

      <div class="form-group"
        data-ng-class="{&apos;cpp-form-error&apos;: anotherForm.fullName.$error.required && submitted}">
        <label for="example-full-name" id="error-message-full-name-label">
          <span class="form-label-bold">Full name</span>
          <span class="form-hint-text">As shown on your birth certificate or passport</span>
        </label>
        <div data-ng-if="anotherForm.fullName.$error.required && submitted">
          <h6 class="cpp-form-error-message">Error message about full name goes here</h6>
        </div>
        <input class="form-control" id="example-full-name" type="text" name="fullName"
          data-ng-model="user.fullName" aria-describedby="error-message-full-name-label" required/>
      </div>

      <div class="form-group"
        data-ng-class="{&apos;cpp-form-error&apos;: anotherForm.niNo.$error.required && submitted}">
        <label for="example-ni-number" id="example-ni-number-label">
          <span class="form-label-bold">National Insurance number</span>
          <span class="form-hint-text">
            It’s on your National Insurance card, benefit letter, payslip or P60.
            <br>
            For example, &apos;VO 12 34 56 D&apos;.
          </span>
        </label>

        <div data-ng-if="anotherForm.niNo.$error.required && submitted">
          <h6 class="cpp-form-error-message">
            Error message about National Insurance number goes here
          </h6>
        </div>
        <input class="form-control" id="example-ni-number" type="text" name="niNo"
          data-ng-model="user.niNo" aria-describedby="example-ni-number-label" required/>
      </div>
      <input class="btn btn-default" type="submit" value="Continue">
    </form>'></div>
</section>

<section id="warning-message">
  <h2>Warning message on form elements</h2>
  <div class="bs-example example-error">
    <form name="warningForm" data-ng-submit="submitForm()" novalidate data-ng-controller="formSubmit">
      <h2>Your personal details</h2>
      <div class="form-group" class="cpp-form-warning">
        <label for="example-age" id="warning-message-age-label-1">
          <span class="form-label-bold">Age</span>
        </label>
        <div>
          <h6 class="cpp-form-warning-message">Warning message about age goes here</h6>
        </div>
        <input class="form-control" id="example-age-1" type="number" name="age"
          data-ng-model="user.age" aria-describedby="warning-message-age-label" required/>
      </div>
      <input class="btn btn-default" type="submit" value="Continue">
    </form>
  </div>
  <div data-syntax-highlighter data-source='
    <form name="warningForm" data-ng-submit="submitForm()" novalidate data-ng-controller="formSubmit">
      <h2>Your personal details</h2>
      <div class="form-group" class="cpp-form-warning">
        <label for="example-age" id="warning-message-age-label">
          <span class="form-label-bold">Age</span>
        </label>
        <div>
          <h6 class="cpp-form-warning-message">Warning message about age goes here</h6>
        </div>
        <input class="form-control" id="example-age" type="number" name="age"
          data-ng-model="user.age" aria-describedby="warning-message-age-label" required/>
      </div>
      <input class="btn btn-default" type="submit" value="Continue">
    </form>'></div>
</section>
<!-- End left col -->
