
.no-gutter > [class^="col-"] { padding-left: 0px; padding-right: 0px; }

.subnav.ui-scrollfix {
  position: fixed;
  top:  @navbar-height;
  width: 100%;
  z-index:10;
}

section {
  margin: 0 0 45px 0;
}

.bs-example {
  border-radius: 0;
}

.bs-example:after {
  top: 0;
  left: 0;
  padding: 8px 12px;
  font-weight: normal;
  color: #fff;
  background-color: @grey-2;
}
