<footer id="footer" class="cpp-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="footer-meta-inner">
          <nav>
            <ul id="menu-footer" class="menu list-inline">
              <li data-ng-repeat="link in settings.links">
                <a data-ng-if="link.type === 'href'" data-ng-href="{{ link.ref }}">{{ link.title }}</a>
                <a data-ng-if="link.type === 'ui-sref'" data-ui-sref="{{ link.ref }}">{{ link.title }}</a>
              </li>
            </ul>
          </nav>
          <div class="open-government-licence">
            <p class="logo">
              <a data-ng-href="{{ settings.licence.link }}"></a>
            </p>
            <p data-ng-bind-html="settings.licence.text"></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="footer-logo">
          <a class="crown-copy" data-ng-href="{{ settings.copyright.link }}">&copy; {{ settings.copyright.text }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
